<li class="res_item">
    <ul class="item_elms">
        <li class="desc">
            <div class="lft"><img src="img/h.jpg" width="102" height="102"/></div>
            <div class="rt">
                <h5>Riviera Boutique Hotel</h5>
                <div class="rating"><span style="width:58%"></span></div>
                <p class="addr">Sagaidachnogo Petra Str.15, 04070 Kiev</p>
            </div>
        </li>
        <li class="amount">
            <ul>
                <li class="plc_count">
                    <p>К-во мест</p>
                    <span><img src="img/plc_count.png" /></span>
                    <span>5</span>
                </li>
                <li class="price"><span>69$</span><p>В сутки</p></li>
            </ul>
        </li>
        <li class="options">
            <ul>
                <li><img src="img/plc_count.png" /></li>
                <li><img src="img/plc_count.png" /></li>
                <li><img src="img/plc_count.png" /></li>
                <li><img src="img/plc_count.png" /></li>
            </ul>
        </li>
        <li class="pay_btn">
            <a href="#">Больше..<span>></span></a>
        </li>
    </ul>
</li>