.content_box{:style=>"display:none;"}
  %ul
    %li
      %span.desc
        Price:
      %span.text 5
    %li
      %span.desc
        Rooms:
      %span.text 5
    %li
      %span.desc
        Rating:
      %span.text 5
    %li
      %span.desc
        Max places:
      %span.text 5