.content_box{:style=>"display:none;width: 100px;"}
  %ul
    %li
      %span.desc"#{t("front_all.price")}:""
      %span.text 5
    %li
      %span.desc"#{t("front_all.rooms")}:""
      %span.text 5
    %li
      %span.desc"#{t("front_all.rating")}:""
      %span.text 5
    %li
      %span.desc"#{t("front_all.places")}:""
      %span.text 5