        <div class="popup" id="bg_loader">
            <div id="circularG">
                <div class="circularG" id="circularG_1"></div>
                <div class="circularG" id="circularG_2"></div>
                <div class="circularG" id="circularG_3"></div>
                <div class="circularG" id="circularG_4"></div>
                <div class="circularG" id="circularG_5"></div>
                <div class="circularG" id="circularG_6"></div>
                <div class="circularG" id="circularG_7"></div>
                <div class="circularG" id="circularG_8"></div>
            </div>
            <div id="loader_text">
                <p>Идет поиск ожидайте...</p>
            </div>
        </div>