        <div class="popup" id="loader_notice">
            <h2>
                <span>Ошибка</span>
                <a href="#">&times;</a>
            </h2>
            <p>some text</p>
        </div>