.line
  %a.search{:href=>"#"}
  %nav
    %ul
      %li
        %a.apartments{href: apartments_path ,:class=>( params[:controller] =~ /apartments/ ? "active" : "")}
          %em.rectangle
      %li
        %a.hotels{href: hotels_path ,:class=>( params[:controller] =~ /hotels/ ? "active" : "")}
          %em.rectangle
      %li
        %a.cars{href: cars_path ,:class=>( params[:controller] =~ /cars/ ? "active" : "")}
          %em.rectangle
      %li
        %a.yahts{href: yahts_path ,:class=>( params[:controller] =~ /yahts/ ? "active" : "")}
          %em.rectangle
  .clear

