.line
  %a.search{:href=>"#"}
  %nav
    %ul
      %li
        %a.apartments{href: "#",:class=>( params[:controller] =~ /apartments/ ? "active" : "")}
          %em.rectangle
      %li
        %a.hotels{href: "#"}
          %em.rectangle
      %li
        %a.cars{href: "#"}
          %em.rectangle
      %li
        %a.yahts{href: "#"}
          %em.rectangle
  .clear

