%section.main
  %h1 Cyprus Short Stay
  %p We are opening soon....
  %a.btn_main{href: "#"}
    %span About Us
%nav
  %a.search{:href=>"#"}
  %ul
    %li
      = link_to "", apartments_path , :class=>"apartments"
    %li
      %a.hotels{href: "#"}
    %li
      %a.cars{href: "#"}
    %li
      %a.yahts{href: "#"}