#content{:style=>"width: 980px;margin: 100px auto;text-align: center;"}
  %h1{:style=>"color: #ff793d;font-size: 50pt;"} 404
  %h4{:style=>"color: #ffffff;font-size: 20pt;padding-top: 35px;"}=t("front_all.error_404")