#orange_nav
	%a{:href=>"/cabinet/yachts", :class=>"#{@service == 'yachts'? 'act' : ''}"}=t("user.yachts")
	%a{:href=>"/cabinet/cars", :class=>"#{@service == 'cars' ? 'act' : ''}"}=t("user.cars")
	%a{:href=>"/cabinet/hotels", :class=>"#{@service == 'hotels' ? 'act' : ''}"}=t("user.hotels")
	%a{:href=>"/cabinet/houses", :class=>"#{@service == 'houses'  ? 'act' : ''}"}=t("user.aparts")
	.clear