.cabinet_header
  %h2
    =@title

  %nav#cab_nav
    %a.wishlist_ico{:href=>cabinet_whishes_path,   :class  => params[:controller] =~ /whishes/ ? "act" : ""}
    %a.y_offers_ico{:href=>cabinet_offers_path,    :class  => params[:controller] =~ /offers/ ? "act" : ""}
    %a.messages_ico{:href=>cabinet_messages_path,  :class  => params[:controller] =~ /messages/ ? "act" : ""}
    %a.profile_ico{:href=>"/cabinet/profile/show", :class  => params[:controller] =~ /profile/ ? "act" : ""}
    %a.dashboard_ico{:href=>cabinet_houses_path,   :class  => params[:controller] =~ /houses|hotels/ ? "act" : ""}
  .clear