#login_form.log
  = form_tag user_auth_path, :remote=>true, :"data-auto-controller"=>"AdminLoginController"  do 
    .buttons
      %a.facebook{:href=>"#",:onclick=>"window.doFbLogin()"}
        %span=t("user.fb_login")
      %a.register{:href=>"#"} 
        %span=t("user.register")
    .fields
      .b_form_text.icon_mail
        %span
        = text_field :user,:email , :class=>"span12", :required=>true, :type=>"email" ,:autocomplete=>"off"
      .b_form_text.icon_pass
        %span
        = text_field :user,:password , :class=>"span12", :required=>true, :type=>"password" ,:autocomplete=>"off"
    .button_login
      = submit_tag t("user.enter_submit"), :class=>"submit btn-glow primary login"
    .forgot
      %a{:href=>"#"}=t("user.forgot_pass")

    