        <div id="main_content">
            <div id="main" >
                <div id="main_wrap">
                    <%=render "cabinet/left_menu"%>
                <div class="right column">
                    <div class="text_content">
                        <% unless current_user.apartments_bookings.any?%>
                            <h1><%=t("all.user.you_dont_book",:type=>t("search.aparts_title").mb_chars.downcase)%></h1>
                        <% else%>
                        
                            <div class="text_body">
                                <ul>
                                    <%current_user.apartments_bookings.each do |book|%>
                                        <%= render partial:"cabinet/aparts/book_item",:locals=>{:book=>book}%>
                                    <%end%>
                                </ul>
                            </div>
                        <%end%>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>