        <div id="main_content">
            <div id="main" >
                <div id="main_wrap">
                    <%=render "faq/left"%>
                <div class="right column">
                    <div class="text_content">
                        <h1><%=@page.name%></h1>
                        <div class="text_body">
                            <%=@page.text%>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>