@import url(http://fonts.googleapis.com/css?family=Roboto);

/*===============================================*/
/*   Mixu  */
/*===============================================*/

.b {
  font-weight: bold;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.tdu {
  text-decoration: underline;
}

.tdn {
  text-decoration: none;
}

.cur {
  cursor: pointer;
}

.ttu {
  text-transform: uppercase;
}

.clr {
  clear: both;
}

.ma {
  margin: 0 auto;
}

.pa {
  position: absolute;
}

.pr {
  position: relative;
}

.hid {
  overflow: hidden;
}

/*===============================================*/
/*   STRUCTURE  */
/*===============================================*/

* {
  margin: 0;
  padding: 0;
  border: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, audio, canvas, video {
  display: block;
}

html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  width: 100%;
  height: 100%;
  color: #000000;
  line-height: 18px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  background-color: #f3f3f3;
}

a {
  color: #000000;
  text-decoration: underline;
  cursor: pointer;
  &:hover {
    text-decoration: none;
    color: #000000;
  }
}

img {
  border: none;
}

input {
  vertical-align: middle;
}

ul {
  margin: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: none;
}

th, td {
  border: none;
}

figure {
  position: relative;
  img, object, embed, video {
    max-width: 100%;
    display: block;
  }
}
header{
figure{
  img{
    padding-top: 5px;
  }
}
}

header {
  height: 8%;
  background-color: #ffffff;
  min-height: 60px!important;
-webkit-box-shadow: 0px 3px 2px rgba(51, 50, 50, 0.75);
-moz-box-shadow:    0px 3px 2px rgba(51, 50, 50, 0.75);
box-shadow:         0px 3px 2px rgba(51, 50, 50, 0.75);
  h1 {
    padding-left: 50px;
    width: 300px;
  }
}

footer {
  height: 10%;
  width: 100%;
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  min-height: 90px!important;
  ul {
    position: absolute;
    right: 50px;
    bottom: 20px;
  }
}

article ul {
  position: absolute;
  right: 50px;
  bottom: 20px;
  bottom: 70px;
  background: image-url("line.png") no-repeat center 50%;
}


footer ul li, article ul li , nav ul li {
  float: left;
}

#wrapper {
  height: 100%;
  position: relative;
  z-index: 5000;
}

html, article {
  position: relative;
}

html {
  min-height: 500px;
}

article {
  height: 80%;
  min-height: 400px;
  background: image-url("background.png") no-repeat;
  background-size: 100% 100%;
}

.apartments, .hotels, .cars, .yahts {
  height: 50px;
  width: 50px;
  display: block;
  background-size: 50px!important;
}

.apartments, .hotels, .cars {
  margin-right: 48px;
}

.apartments {
  background: image-url("ic_house.png") no-repeat transparent;
}

.hotels {
  background: image-url("ic_hotels.png") no-repeat transparent;
}

.cars {
  background: image-url("ic_cars.png") no-repeat transparent;
}

.yahts {
  background: image-url("ic_yacht.png") no-repeat transparent;
}

.apartments:hover , .apartments.active{
  background: image-url("hover_ic_house.png") no-repeat transparent;
}

.hotels:hover , .hotels.active{
  background: image-url("hover_ic_hotels.png") no-repeat transparent;
}

.cars:hover , .cars.active{
  background: image-url("hover_ic_cars.png") no-repeat transparent;
}

.yahts:hover, .yahts.active {
  background: image-url("hover_ic_yacht.png") no-repeat transparent;
}

.btn_main {
  background: image-url("btn_main.png") transparent no-repeat;
  width: 245px;
  height: 60px;
  display: block;
  position: relative;
  text-align: center;
  text-decoration: none;
  span {
    padding-top: 20px;
    display: block;
  }
  &:hover {
    background: image-url("hover_btn_main.png") transparent no-repeat;
  }
}

article section.main {
  h1 {
    color: #ff793d;
    font-size: 50pt;
  }
  p {
    color: #ffffff;
    font-size: 20pt;
    padding-top: 35px;
  }
}

section.main {
  padding-left: 50px;
  height: 200px;
  position: absolute;
  bottom: 100px;
  a {
    position: absolute;
    bottom: 0;
    font-weight: bold;
    font-size: 18pt;
    color: #fff;
    &:hover {
      color: #ff793d;
    }
  }
}
.map header{
  min-height: 63px !important;
}
.map header h1{
  padding-bottom: 10px
}
header figure{
  float: left;
}
.map nav{
  position: absolute;
  right: 50px;
  background: image-url("line.png") no-repeat center 50%;
}
.line{
  background: image-url("head_line.png") transparent no-repeat;
  background-size: 100% 100%;
  height: 55px;
}
.line .search{
    width:50px;
    height:50px;
    display:block;
    float: left;
    margin-left: 50px;
    background: image-url("ic_search.png") no-repeat center 50%;
    background-size: 50px;
}
.line .search:hover,.line .search.active {
    background: image-url("hover_ic_search.png") no-repeat center 50%;
    background-size: 50px;
}

#map_apartments{
  z-index: 10000;
  top: 117px;
  position: absolute!important;
  width: 100%;
}

































form, fieldset, input, textarea, blockquote, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

.clear {
  clear: both;
}

#apartments ,#apartments_view {
  
  z-index: 30000;
  width: 462px;
  background-color: #ffffff;
  height: auto;
  min-height: 200px;
  position: relative;
  -webkit-box-shadow: 0px 0px 6px rgba(45, 52, 52, 0.8);
  -moz-box-shadow: 0px 0px 6px rgba(45, 52, 52, 0.8);
  box-shadow: 0px 0px 6px rgba(45, 52, 52, 0.8);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  behavior: url(/assets/PIE.htc);
}
#apartments_view .rectangle{
  left: 120px
}
#apartments{
  top: 50px;
  left: 23px;
  display: none;
}
#apartments_view{
top: 120px;
position: absolute;
right: 35px;
}
.rectangle{
  background: image-url("kutyk.png");
  width: 14px;
  height: 8px;
  position: absolute;
top: -8px;
left: 45px;
}
.form-text {
  height: 40px;
  width: 90%;
  margin-left: 45px;
  display: block;
  font-size: 20px;
}

.b_form_text {
  height: 40px;
  border: 1px solid #6edbef;
  &.icon_search {
    border: none;
    margin-left: 15px;
    margin-right: 10px;
  input{
    width: 70%;
  }

  }

}

.icon_search {
  background: image-url("search.png") no-repeat;
}

.icon_guests {
  background: image-url("guest.png") no-repeat;
}

.icon_money {
  background: image-url("money.png") no-repeat;
}

.form_line {
  background: image-url("line_2.png") no-repeat 15px bottom;
  padding-bottom: 5px;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-right: 22px;
}

.main_form {
  position: relative;
  z-index: 500;
}

.dates {
  padding-bottom: 5px;
  margin: 0 auto;
  height: 130px;
}

#apartments {
  ul {
    list-style-type: none;
    li ul {
      li {
        float: left;
        width: 205px;
        margin-left: 15px;
        margin-bottom: 20px;
      }
      float: left;
      padding: 0;
    }
    float: left;
    padding: 0;
  }
  .b_form_text {
    &.icon_date, &.icon_money {
      margin-left: 0;
      padding-right: 27px;
    }
  }
}

.b_form_text {
  &.icon_date {
    background: image-url("celendar.png") no-repeat;
    input {
      background-color: #6edbef;
      text-align: center;
      color: #ffffff;
    }
  }
  &.icon_money input {
    background-color: #6edbef;
    text-align: center;
    color: #ffffff;
  }
}

.search_btn {
  text-decoration: none;
  color: #ff793d;
  display: block;
  border: 1px solid #ff793d;
  height: 40px;
  border-radius: 3px;
  text-align: center;
  font-size: 20px;
  &:hover {
    text-decoration: none;
    color: #ff793d;
  }
  span {
    display: block;
    padding-top: 7px;
  }
  &:hover! {}
}

#apartments {
  select {
    height: 40px;
    width: 120px;
  }
  .jNiceSelectWrapper {
    left: 46px;
    background-color: #6edbef;
    ul {
      width: 158px;
    }
  }
  ul li .jNiceSelectWrapper ul li {
    width: 158px;
    margin: 0;
    height: 30px;
    a {
      height: 30px;
      padding-left: 48px;
    }
  }
  .jNiceSelectText {
    background-color: #6edbef;
    height: 40px;
    padding-right: 26px;
    text-align: center;
    color: #ffffff!important;
  }
}

.adv_but {
  background: image-url("arrow.png") no-repeat;
  width: 44px;
  height: 42px;
  display: block;
  margin-left: 15px;
}
.adv_but.active{
  background: image-url("hover_arrow.png") no-repeat;
}

.advanced {
  min-height: 100px;
  display: none;
}

.facifitiles {
  margin-left: 15px;
  width: 90%;
  ul {
    width: 100%;
    li {
      background: image-url("line_d.png") no-repeat 40px 30px;
      height: 45px;
      img {
        float: left;
      }
      span.text {
        padding-top: 10px;
        display: block;
        float: left;
        color: #696969;
      }
    }
  }
  input {
    float: right;
  }
  .jNiceWrapper {
    float: right;
    margin-top: 5px;
  }
}

.ui-autocomplete.ui-menu.ui-widget.ui-widget-content.ui-corner-all{
  width: 360px;
background: none;
border: none;
  a{
    font-size: 20px;
  }
}

.facifilites_list{
  background: image-url("line_2.png") no-repeat 8px bottom;
  margin: 0 10px;
  height: 45px;

  ul li{
    float: left;
  }
  .price{
    float: right;
    color: #ff793d;
    font-size: 30pt;
    font-weight: 100!important;
  }
}
.photos{
  min-height: 300px;
  background: image-url("line_2.png") no-repeat 8px bottom;
}
.desciption {
  margin: 10px;
  color: #696969;
  line-height: 1.5;
  .search_btn{
    width: 150px;
    float: right;
    margin: 10px;
   span{
    padding-top: 4px;
   }
  }
  h2{
     color: #ff793d;
  }
  .rating{
    height: 12px;
    float: left;
    margin-top: 25px;
  }

}
.rating div.star-rating, div.star-rating a{
  background: image-url("rating.png") no-repeat !important;
      width: 25px;
      height: 25px;
}

.header_right{
  float: right;
  right: 50px;
  position: absolute;
  top: 35px;

  li{
    float: left;
    margin-right: 20px;
    a{
      text-decoration: none;
      color: #696969;
    }
   a:hover{
      color: #ff793d;
    }
  }
}
.map header figure{
  float: none;
}
.currencies_block{
  z-index: 5000;
  position: absolute;
  display: none;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 6px rgba(45, 52, 52, 0.8);
  -moz-box-shadow: 0px 0px 6px rgba(45, 52, 52, 0.8);
  box-shadow: 0px 0px 6px rgba(45, 52, 52, 0.8);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  behavior: url(/assets/PIE.htc);
  top: 30px;
  li{
    float: none;
    position: relative;
    a:hover{
      color: #ff793d;
    }
  }
}
.currencies_block.langs .rectangle{
  left: 5px;
}