@import url(http://fonts.googleapis.com/css?family=Roboto);

/*===============================================*/
/*   Mixu  */
/*===============================================*/

.b {
  font-weight: bold;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.tdu {
  text-decoration: underline;
}

.tdn {
  text-decoration: none;
}

.cur {
  cursor: pointer;
}

.ttu {
  text-transform: uppercase;
}

.clr {
  clear: both;
}

.ma {
  margin: 0 auto;
}

.pa {
  position: absolute;
}

.pr {
  position: relative;
}

.hid {
  overflow: hidden;
}

/*===============================================*/
/*   STRUCTURE  */
/*===============================================*/

* {
  margin: 0;
  padding: 0;
  border: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, audio, canvas, video {
  display: block;
}

html {
  height: 100%;
  min-width: 700px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  width: 100%;
  height: 100%;
  color: #000000;
  line-height: 18px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  background-color: #f3f3f3;
}

a {
  color: #000000;
  text-decoration: underline;
  cursor: pointer;
  &:hover {
    text-decoration: none;
    color: #000000;
  }
}

img {
  border: none;
}

input {
  vertical-align: middle;
}

ul {
  margin: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: none;
}

th, td {
  border: none;
}

figure {
  position: relative;
  img, object, embed, video {
    max-width: 100%;
    display: block;
  }
}
header{
figure{
  img{
    padding-top: 5px;
  }
}
}

header {
  z-index:9;
  position:relative;
  height: 8%;
  background-color: #ffffff;
  min-height: 60px!important;
  -webkit-box-shadow: 1px 0px 3px rgba(50, 50, 50, 0.18);
  -moz-box-shadow:    1px 0px 3px rgba(50, 50, 50, 0.18);
  box-shadow:         1px 0px 3px rgba(50, 50, 50, 0.18);
  behavior: url(/assets/PIE.htc);
  h1 {
    padding-left: 50px;
    width: 300px;
  }
}

footer {
  width: 100%;
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  height: 105px!important;
  -webkit-box-shadow: 0px -4px 11px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px -4px 11px rgba(50, 50, 50, 0.75);
  box-shadow:         0px -4px 11px rgba(50, 50, 50, 0.75);
  behavior: url(/assets/PIE.htc);
  ul.nav {
    position: absolute;
    right: 50px;
    bottom: 20px;
  }
  ul.left{
    margin-left: 50px;
    margin-top: 50px;
    li{
      margin-left: 20px;
      a{
        text-decoration: none;
        color: #696969;
      }
      a:hover{
        text-decoration: underline;
      }
    }
  }
}

article ul {
  position: absolute;
  right: 50px;
  bottom: 20px;
  bottom: 70px;
  background: image-url("line.png") no-repeat center 50%;
}
.line nav{
  float:right;
  margin:5px 50px 0 0;
}
.line .search{
  margin:5px 0 0 0;
}
.line ul{
  right:auto;
  bottom:auto;
  position: relative;
}


footer ul li, article ul li , nav ul li {
  float: left;
}

#wrapper {
  height: 100%;
  position: relative;
  z-index: 5000;
}

html, article {
  position: relative;
}

html {
  min-height: 650px;
}

article {
  height: 80%;
  min-height: 450px;
  background: image-url("background.png") no-repeat;
  background-size: 100% 100%;
 // top: -50px;
}

.apartments, .hotels, .cars, .yahts {
  height: 50px;
  width: 50px;
  display: block;
  background-size: 50px!important;
}

.apartments, .hotels, .cars {
  margin-right: 48px;
}

.apartments {
  background: image-url("ic_house.png") no-repeat transparent;
}

.hotels {
  background: image-url("ic_hotels.png") no-repeat transparent;
}

.cars {
  background: image-url("ic_cars.png") no-repeat transparent;
}

.yahts {
  background: image-url("ic_yacht.png") no-repeat transparent;
}

.apartments:hover , .apartments.active{
  background: image-url("hover_ic_house.png") no-repeat transparent;
}

.hotels:hover , .hotels.active{
  background: image-url("hover_ic_hotels.png") no-repeat transparent;
}

.cars:hover , .cars.active{
  background: image-url("hover_ic_cars.png") no-repeat transparent;
}

.yahts:hover, .yahts.active {
  background: image-url("hover_ic_yacht.png") no-repeat transparent;
}

.btn_main {
  background: image-url("btn_main.png") transparent no-repeat;
  width: 245px;
  height: 60px;
  display: block;
  position: relative;
  text-align: center;
  text-decoration: none;
  span {
    padding-top: 20px;
    display: block;
  }
  &:hover {
    background: image-url("hover_btn_main.png") transparent no-repeat;
  }
}

article section.main {
  h1 {
    color: #ff793d;
    font-size: 50pt;
  }
  p {
    color: #ffffff;
    font-size: 20pt;
    padding-top: 35px;
  }
}

section.main {
  padding-left: 50px;
  height: 200px;
  position: absolute;
  bottom: 100px;
  a {
    position: absolute;
    bottom: 0;
    font-weight: bold;
    font-size: 18pt;
    color: #fff;
    &:hover {
      color: #ff793d;
    }
  }
}
.map header{
  min-height: 63px !important;
}
.map header h1{
  padding-bottom: 10px
}
header figure{
  float: left;
}
.map nav{
  position: absolute;
  right: 50px;
  background: image-url("line.png") no-repeat center 50%;
}
.line{
  background: image-url("head_line.png") transparent no-repeat;
  background-size: 100% 100%;
  height: 60px;
  overflow:hidden;
}
.line .search{
    width:50px;
    height:50px;
    display:block;
    float: left;
    margin-left: 50px;
    background: image-url("ic_search.png") no-repeat center 50%;
    background-size: 50px;
}
.line .search:hover,.line .search.active {
    background: image-url("hover_ic_search.png") no-repeat center 50%;
    background-size: 50px;
}

#map_apartments{
  z-index: 10000;
  position: absolute!important;
  width: 100%;
  height: 75%!important;
  top:115px;
}

































form, fieldset, input, textarea, blockquote, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

.clear {
  clear: both;
}

#apartments ,#apartments_view {
  
  z-index: 30000;
  width: 462px;
  background-color: #ffffff;
  height: auto;
  min-height: 200px;
  position: relative;
  -webkit-box-shadow: 0px 0px 6px rgba(45, 52, 52, 0.8);
  -moz-box-shadow: 0px 0px 6px rgba(45, 52, 52, 0.8);
  box-shadow: 0px 0px 6px rgba(45, 52, 52, 0.8);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  behavior: url(/assets/PIE.htc);
}
#apartments_view .rectangle{
  left: 120px
}
#apartments{
  left: 23px;
  display: none;
  top: 55px;
}
#apartments_view{
top: 120px;
position: absolute;
right: 35px;
}
.rectangle{
  background: image-url("kutyk.png");
  width: 14px;
  height: 8px;
  position: absolute;
top: -8px;
left: 45px;
}
.form-text {
  height: 40px;
  width: 90%;
  margin-left: 45px;
  display: block;
  font-size: 20px;
}

.b_form_text {
  height: 40px;
  border: 1px solid #6edbef;
  &.icon_search {
    border: none;
    margin-left: 15px;
    margin-right: 10px;
  input{
    width: 70%;
  }

  }

}

.icon_search {
  background: image-url("search.png") no-repeat;
  a{
    padding-top: 10px;
    display: block;
  }
}

.icon_guests {
  background: image-url("guest.png") no-repeat;
  a{
    padding-top: 10px;
    display: block;
  }
}

.icon_name{
  background: image-url("icon_name.png") no-repeat;
}

.icon_money {
  background: image-url("money.png") no-repeat;
  a{
    padding-top: 10px;
    display: block;
  }
}

.form_line {
  background: image-url("line_2.png") no-repeat 15px bottom;
  padding-bottom: 5px;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-right: 22px;
}

.main_form {
  position: relative;
  z-index: 500;
}

.dates {
  padding-bottom: 5px;
  margin: 0 auto;
  height: 130px;
}

#apartments {
  ul {
    list-style-type: none;
    li ul {
      li {
        float: left;
        width: 205px;
        margin-left: 15px;
        margin-bottom: 20px;
      }
      float: left;
      padding: 0;
    }
    float: left;
    padding: 0;
  }
  .b_form_text {
    &.icon_date, &.icon_money {
      margin-left: 0;
      padding-right: 27px;
    }
  }
}

.b_form_text {
  &.icon_date {
    background: image-url("celendar.png") no-repeat;
    input {
      background-color: #6edbef;
      text-align: center;
      color: #ffffff;
    }
  }
  &.icon_money input {
    background-color: #6edbef;
    text-align: center;
    color: #ffffff;
  }
}

.search_btn {
  text-decoration: none;
  color: #ff793d;
  display: block;
  border: 1px solid #ff793d;
  height: 40px;
  border-radius: 3px;
  text-align: center;
  font-size: 20px;
  &:hover {
    text-decoration: none;
    color: #ff793d;
  }
  span {
    display: block;
    padding-top: 7px;
  }
  &:hover! {}
}

#apartments {
  select {
    height: 40px;
    width: 120px;
  }
  .jNiceSelectWrapper {
    left: 46px;
    background-color: #6edbef;
    ul {
      width: 158px;
    }
  }
  ul li .jNiceSelectWrapper ul li {
    width: 158px;
    margin: 0;
    height: 30px;
    a {
      height: 30px;
      padding-left: 48px;
    }
  }
  .jNiceSelectText {
    background-color: #6edbef;
    height: 40px;
    padding-right: 26px;
    text-align: center;
    color: #ffffff!important;
  }
}

.adv_but {
  background: image-url("arrow.png") no-repeat;
  width: 44px;
  height: 42px;
  display: block;
  margin-left: 15px;
}
.adv_but.active{
  background: image-url("hover_arrow.png") no-repeat;
}

.advanced {
  min-height: 100px;
  display: none;
}

.facifitiles {
  margin-left: 15px;
  width: 90%;
  ul {
    width: 100%;
    li {
      background: image-url("line_d.png") no-repeat 40px 30px;
      height: 45px;
      img {
        float: left;
      }
      span.text {
        padding-top: 10px;
        display: block;
        float: left;
        color: #696969;
      }
    }
  }
  input {
    float: right;
  }
  .jNiceWrapper {
    float: right;
    margin-top: 5px;
  }
}

.ui-autocomplete.ui-menu.ui-widget.ui-widget-content.ui-corner-all{
  width: 360px;
background: none;
border: none;
  a{
    font-size: 20px;
  }
}

.facifilites_list{
  background: image-url("line_2.png") no-repeat 8px bottom;
  margin: 0 10px;
  height: 45px;

  ul li{
    float: left;
  }
  .price{
    float: right;
    color: #ff793d;
    font-size: 30pt;
    font-weight: 100!important;
    padding-top: 10px;
  }
}
.photos{
  min-height: 300px;
  background: image-url("line_2.png") no-repeat 8px bottom;
}
.desciption {
  margin: 10px;
  color: #696969;
  line-height: 1.5;
  .search_btn{
    width: 150px;
    float: right;
    margin: 10px;
   span{
    padding-top: 4px;
   }
  }
  h2{
     color: #ff793d;
  }
  .rating{
    height: 12px;
    float: left;
    margin-top: 25px;
  }

}
.rating div.star-rating, div.star-rating a{
  background: image-url("rating.png") no-repeat !important;
      width: 25px;
      height: 25px;
}

.header_right{
  float: right;
  right: 35px;
  position: absolute;
  top: 20px;
  

  li{
    float: left;
    margin-right: 20px;
    padding-left: 45px;
    height: 60px;
    a{
      text-decoration: none;
      color: #696969;
    }
   a:hover{
      color: #ff793d;
    }
  }
}
.map header figure{
  float: none;
-webkit-box-shadow: 1px 4px 11px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    1px 4px 11px rgba(50, 50, 50, 0.75);
  box-shadow:         1px 4px 11px rgba(50, 50, 50, 0.75);
  behavior: url(/assets/PIE.htc);

}
.currencies_block{
  z-index: 40000;
  position: absolute;
  display: none;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 6px rgba(45, 52, 52, 0.8);
  -moz-box-shadow: 0px 0px 6px rgba(45, 52, 52, 0.8);
  box-shadow: 0px 0px 6px rgba(45, 52, 52, 0.8);
  behavior: url(/assets/PIE.htc);
  top: 50px;
  li{
    float: none;
    position: relative;
    padding:0;
    height: auto;
    a:hover{
      color: #ff793d;
    }
    img{
      margin-bottom: -3px
    }
  }
}
.currencies_block.langs .rectangle{
  left: 5px;
}

#login_form{
  background: image-url("login_bg.png") no-repeat;
  width: 648px;
  height: 435px;
  margin: 0 auto;
  top: 50px;
  position: relative;
  .error{
    border-bottom: 1px solid red;
  }
  .forgot{
    position: absolute;
    bottom: 20px;
    right: 20px;
    a{
      color: #ffffff;
      border-bottom: 1px #ffffff dotted;
      text-decoration: none;
    }
    a:hover{
      //color: #ff793d;
      border-bottom: 1px #ff793d dotted;
    }
  }
  .buttons{
    width: 90%;
    margin: 0 auto;
    height: 50px;
    position: relative;
    top: 25px;
  }
  .fields{
    width: 90%;
    top: 100px;
    position: relative;
    margin: 0 auto;
    .icon_mail span, .icon_pass span, .icon_name span{
      display: block;
      height: 39px;
      width: 44px;
      float: left;
      margin-left: 10px;
      top: 11px;
    }
    .icon_pass span{
      position: relative;
    }
    .icon_mail span{
       background:  #6edbef image-url("icon_mail.png") no-repeat;
    }
    .icon_name span{
      background: #6edbef image-url("icon_name.png") no-repeat;
      margin-top: 11px;
    }
    .icon_pass {
       input{
        padding-top: 12px;
       }
        span{
           background: #6edbef image-url("icon_password.png") no-repeat;

        }
    }


    .b_form_text{
      background:  image-url("field.png") no-repeat;
      height: 62px;
      border: none;
      position: relative;
      input{
          margin-left: 7px;
          margin-top: 19px;
          font-size: 18px;
          text-align: center;
          width: 80%;
      }
    }
  }
  .button_login{
    bottom: 70px;
    position: absolute;
    background: none;
    color: #ffffff;
    left: 36%;
    width: 200px;
    height: 42px;
    border: 1px solid #ffffff;
    cursor: pointer;
    input{
      background: none;
      cursor: pointer;
      color: #ffffff;
      margin: 0 auto;
      display: block;
      font-size: 20px;
      padding-top: 9px;
    }
    input:hover {
      color: #ff793d;
    }

  }
  .button_login:hover {
      border: 1px solid #ff793d;
  }
  .button_login:hover input{
    color: #ff793d;
  }


  .facebook,.register{
    text-decoration:none;
    color: #ffffff;
    height: 62px;
    width: 290px;
    display: block;
    float: left;
    span{
      text-align: center;
      display: block;
      padding-top: 20px;
    }
  }
  .facebook{ 
    background:  image-url("facebook.png") no-repeat;
  }
  .register{
     background: image-url("register.png") no-repeat;
  }
}

#login_form.registered{
  display: none;
  background-size: 100% 100%;
  height: 460px;
  .fields{
    top:50px;
  }
  .button_login{
    bottom: 65px;
  }

}
#login_form.forgot{
  display: none;
  .fields{
    top:100px;
  }
}
  .icon_name input{
    padding-top: 11px;
  }
.ui-corner-all.ui-state-focus{
  background: none!important;
border: none!important;

}
.form-text.ui-autocomplete-input, .ui-widget-content a{
color: #696969!important;
}
#header_user_menu{
  z-index:10;
  position:absolute;
  top:-400px;
  right: 15px;
  width:224px;
}
#header_user_menu #um_wrap{
  background: #fff;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
  padding:13px;
} 
#header_user_menu #um_pointer{
  width:100%;
  height:8px;
  background: image-url("kutyk.png") 80% 0 no-repeat;
} 

#header_user_menu a{
  display:block;
  height:45px;
  width:100%;
  margin: 5px 0 0 0;
  text-align:right;
  overflow:hidden;
  text-decoration:none;
  font-size:18px;
  color:#696969;
  border-bottom: 1px dotted #d8d8d8;
  line-height:60px;
  background: image-url("user_menu_icons.png") 0 0 no-repeat;
}
#header_user_menu a:hover, #header_user_menu a.act{
  color:#ff793d;
}
#header_user_menu a.dashboard_ico, #cab_nav a.dashboard_ico{
  background-position: 0 8px;
}
#header_user_menu a.profile_ico, #cab_nav a.profile_ico{
  background-position: 0 -134px;
}
#header_user_menu a.messages_ico, #cab_nav a.messages_ico{
  background-position: 0 -281px;
}
#header_user_menu a.y_offers_ico, #cab_nav a.y_offers_ico{
  background-position: 0 -416px;
}
#header_user_menu a.wishlist_ico, #cab_nav a.wishlist_ico{
  background-position: 0 -562px;
}


#header_user_menu a.dashboard_ico:hover, #header_user_menu a.dashboard_ico.act, #cab_nav a.dashboard_ico:hover, #cab_nav a.dashboard_ico.act{
  background-position: 0 -60px;
}
#header_user_menu a.profile_ico:hover, #header_user_menu a.profile_ico.act, #cab_nav a.profile_ico:hover, #cab_nav a.profile_ico.act{
  background-position: 0 -203px;
}
#header_user_menu a.messages_ico:hover, #header_user_menu a.messages_ico.act, #cab_nav a.messages_ico:hover, #cab_nav a.messages_ico.act{
  background-position: 0 -347px;
}
#header_user_menu a.y_offers_ico:hover, #header_user_menu a.y_offers_ico.act, #cab_nav a.y_offers_ico:hover, #cab_nav a.y_offers_ico.act{
  background-position: 0 -490px;
}
#header_user_menu a.wishlist_ico:hover, #header_user_menu a.wishlist_ico.act, #cab_nav a.wishlist_ico:hover, #cab_nav a.wishlist_ico.act{
  background-position: 0 -627px;
}
#cabinet{
  background:#fff;
  height:100%;
  padding:20px 0 0 0;
}
.cabinet_header{
  width:94%;
  margin: 0 0 0 3%;
  padding: 0 0 5px 0;
  border-bottom: 2px solid #d8d8d8;
}
#cab_nav a{
  display:block;
  float:right;
  margin: 0 0 0 20px;
  width:36px;
  height:40px;
  background: image-url("user_menu_icons.png") 0 0 no-repeat;
}
.cabinet_header h2{
  display:block;
  float:left;
  color:#ff793d;
  font-size:22px;
  font-weight:400;
  line-height:40px;
}
#cab_filters{
  width:94%;
  margin: 0 0 0 3%;
  margin-top:15px;
}
.cab_filter{
  cursor:pointer;
  float:left;
  width:255px;
  height:45px;
  display:block;
  border:none;
  color: #fff;
  font-size:18px;
  padding:  0 0 0 55px;
  margin: 0 20px 5px 0;
}
.cab_filter.filter_by{
  background: #009cae image-url("filtr_1.jpg") 2px 2px no-repeat;
}
.cab_filter.filter_calendar{
  background: #009cae image-url("filtr_2.jpg") 2px 2px no-repeat;
}
a.item{
  display:block;
  float:left;
  position:relative;
  margin: 0 20px 20px 0;
  width:310px;
  height:260px;
  background:#e1e1e1;
    .item_info{
      position:absolute;
      left:0;
      bottom:0;
      width:100%; 
      font-size:16px;
      background:#ff793d;
        div{
          float:left;
          padding:0 10px;
          color:#fff;
          margin:3px 0;
          width:195px;
            b{
              font-weight:400;
              line-height:30px;
            }
        }
        .item_price{
          text-align:right;
          width:74px;
          border-left:1px solid #fff;
            b{
              font-size:24px;
            }
        }
    }
    .item_status{
      position:absolute;
      right:-3px;
      top:10px;
      width:40px;
      height:40px;
      box-shadow: 3px 3px 4px rgba(0,0,0,0.1);
      background: #009cae;
    }
    .status_ico_1{
      background: #009cae image-url("more_icons.png") 50% -889px no-repeat;
    }
    .status_ico_2{
      background: #009cae image-url("more_icons.png") 50% -741px no-repeat;
    }
    .status_ico_3{
      background: #009cae image-url("more_icons.png") 50% -816px no-repeat;
    }
}
.bookings_list{
  width:94%;
  margin: 0 0 0 3%;
  overflow-y:scroll;
  position:relative;
}
#orange_nav{
  position:absolute;
  top:100%;
  left:0;
  margin:-70px 0 0 0;
  height:35px;
  width:100%;
  background:#ff793d;
  z-index:10;
  box-shadow: 2px 0 3px rgba(0,0,0,0.5);
}
#orange_nav a{
  color: #007e95; 
  font-size:24px;
  text-decoration:none;
  display:block;
  float:right;
  margin-right:30px;
  line-height:33px;
}
#orange_nav a:hover, #orange_nav a.act{
  color: #fff; 
}
